@import "/src/scss/variables";
	.wp-block-tk-testimonial{

		border: 2px dashed #f00;
	textarea, input[type=text] {
		background-color: $bg-light;
	}

	img:not([draggable]), svg:not([draggable]){
		pointer-events: all;
	}


}
